beautifulsoup4==4.12.3
dash==2.18.2
matplotlib==3.10.0
nicegui==2.11.1
numpy==2.2.2
openai==1.61.1
pandas==2.2.3
plotly==6.0.0
python-dotenv==1.0.1
pywikibot==9.6.2
seaborn==0.13.2
timple==0.1.8
Wikipedia_API==0.7.1
fastf1==3.4.4
pycountry==24.6.1
country_converter==1.3