beautifulsoup4==4.14.2
country_converter==1.3.2
matplotlib==3.10.7
nicegui==3.2.0
numpy==2.3.4
openai==2.6.1
pandas==2.3.3
plotly==6.3.1
pycountry==24.6.1
python-dotenv==1.2.1
pywikibot==10.7.0
timple==0.1.8
wikipedia_api==0.8.1
