beautifulsoup4==4.12.3
dash==2.18.2
matplotlib==3.10.1
nicegui==2.12.1
numpy==2.2.4
pandas==2.2.3
plotly==6.0.0
python-dotenv==1.0.1
pywikibot==10.0.0
seaborn==0.13.2
timple==0.1.8
Wikipedia_API==0.8.1
fastf1==3.5.3
pycountry==24.6.1
country_converter==1.3